services:
  entity-api:
    build:
      context: .
      dockerfile: Dockerfile
      args:
      - ENTITY_API_PORT=${ENTITY_API_PORT}
      - ENTITY_API_ENV=${ENTITY_API_ENV}
      - ENTITY_API_VERSION=${ENTITY_API_VERSION}
    image: ${ENTITY_API_IMAGE_NAME}
    container_name: ${ENTITY_API_CONTAINER_NAME}
    restart: always
    ports:
      - target: 4000
        published: ${ENTITY_API_PORT}
        protocol: tcp
        mode: host
    networks:
      - MONGO
  mongo:
    image: mongo:${MONGO_IMAGE_TAG}
    container_name: ${MONGO_CONTAINER_NAME}
    restart: always
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_ROOT_USER}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_ROOT_PASSWORD}
      - MONGO_INITDB_DATABASE=${MONGO_DATABASE}
    ports:
      - ${MONGO_PORT}:27017
    networks:
      - MONGO
    volumes:
      - type: volume
        source: MONGO_DATA
        target: /data/db
      - type: volume
        source: MONGO_CONFIG
        target: /data/configdb
  mongo-express:
    image: mongo-express:${MONGOEXPRESS_CONTAINER_TAG}
    container_name: ${MONGOEXPRESS_CONTAINER_NAME}
    restart: always
    environment:
      - ME_CONFIG_MONGODB_URL=mongodb://${MONGO_ROOT_USER}:${MONGO_ROOT_PASSWORD}@${MONGO_CONTAINER_NAME}:${MONGO_PORT}/
      - ME_CONFIG_MONGODB_ADMINUSERNAME=${MONGOEXPRESS_ADMIN_LOGIN}
      - ME_CONFIG_MONGODB_ADMINPASSWORD=${MONGOEXPRESS_ADMIN_PASSWORD}
      - ME_CONFIG_BASICAUTH_USERNAME=${MONGOEXPRESS_LOGIN}
      - ME_CONFIG_BASICAUTH_PASSWORD=${MONGOEXPRESS_PASSWORD}
    ports:
      - ${MONGOEXPRESS_PORT}:8081
    networks:
      - MONGO
    depends_on:
      - ${MONGO_CONTAINER_NAME}

networks:
  MONGO:
    name: MONGO

volumes:
  MONGO_DATA:
    name: MONGO_DATA
  MONGO_CONFIG:
    name: MONGO_CONFIG